{% extends "base.html" %}

{% block title %}Register{% endblock %}


{% block content %}
<h1>Register</h1>

<form action="{% url registration_register %}" method="POST">

{% csrf_token %}


<dl>
{% for field in form %}
    <dt>{{ field.label_tag }}</dt>
    <dd>{{ field }}</dd>
    {% if field.help_text %}<dd>{{ field.help_text }}</dd>{% endif %}
    {% if field.errors %}<dd class="myerrors">{{ field.errors }}</dd>{% endif %}
{% endfor %}
</dl>

<input type="submit" value="Register" />
</form>

{% endblock %}
