{% extends "base.html" %}
{% block title %}edit profile{% endblock %}
{% block sideheader %}Edit profile{% endblock %}

{% block contentview %}
<div id="content_overview">
<ul>
{% for user in users %}
<li><a href="{% url user-overview username=user.user.username %}">{{ user.user.username }}</a> <span class="profile_score">{{ user.score }} points</span></li>
{% endfor %}
</ul>
</div>                                     
{% endblock %}

{% block content %}
<h1>{{ user.username }}</h1>
<form action="" enctype="multipart/form-data" method="post">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Submit" />
</form>
{% endblock %}

{% block context %}
{% endblock %}