body {background-color:#2e3436;
  color: #eeeeec;
  margin: 0;
  font: 13.34px helvetica,arial,freesans,clean,sans-serif;}
 
#header {background: url("../images/blue-grad-up.png") repeat-x scroll 0 bottom #2e3436; 
  border-bottom: 1px solid #2e3436;}

#content {background: #eeeeec; color: #2e3436; padding: 18px 0;}

#footer {background: url("../images/blue-grad-down.png") repeat-x scroll right 0 #2e3436;
  border-top: 1px solid #2e3436;
  padding-top: 12px;}

#introduction p {text-align: justify;}  

#site-logo a {width: 140px;
  height: 1px;
  display: block;
  background: #2e3436 no-repeat 0 0;
  font-size:1px;
  text-indent:-9999em;}

#site-title a {font-size: 48px; color: #eeeeec;}

#site-title h1 {margin: 0;}

#site-title {padding: 18px 0 0 0;}

#tagline {padding: 8px 0 20px 0;
  width: 400px;
  font-size: 14px;
  color:#D3D7CF;
  font-weight: bold;}

.meta {font-size: 13px;
    color: #555753;}

a {text-decoration: none;
  color: #3465a4;}
  
/* chapters */
h1 a, h2 a, h3 a {}

.chapter {}
.chapter .title {font-size:36px; margin: 4px 0;}
.chapter .body, .chapter .summary {text-align: justify;}

/* chapter teaser */
.chapter.teaser h2.title a {color: #2E3436;}

/* chapter full */

/* comments */
#comments {}
.comment, #comment-form {}

.comment h3.title {margin: 4px 0;}

.comment .content {padding-left: 8px; margin-top: 4px;
  text-align: justify;}

/* comment voting */
.vote {}
.vote span {display: block;
  font-weight: bold;
  float: left;}
.vote-score {font-size: 28px; line-height: 0.5;
    padding:4px 20px;}

.vote-up {background-position: 0 0;}
.vote-up.vote-on {background-position: 0 0px;}
.vote-down {background-position: 0 -16px;}
.vote-down.vote-on {background-position: 0 -16px;}

.vote-up, .vote-down {background-image: url('../images/cakethebook-sprite.png');
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 2px 0 2px 20px;}
  
/* user context */
#user-context {position: fixed; top: 0px; right: 10px;
  background: #2e3436;
  border-left: 1px solid #3465A4;
  border-right: 1px solid #3465A4;
  text-align: right;
  height: 100%;}

#user-context .content {padding: 10px 18px; font-size: 16px; margin-top: 20px;}

#user-context  ul {list-style: none; margin:0; padding: 0;} 
li#user-score {font-size: 24px; font-weight: bold;}


/** navigation **/
#navigation {background: #3465A4; border-bottom: 1px solid #2e3436;}

#navigation ul {margin: 8px 0 0 0; padding: 0; 
  list-style: none outside none;
  float: left;}

#navigation ul li {float:left;
  margin: 0 0.5em 0 0;}
  
#navigation ul li a {padding: 0 24px; 
  color: #2e3436;
  display: block;
  border-bottom: 0.5em solid #2e3436;}
  
#rating {
  height: 20px;  }
.ui-stars-star,
.ui-stars-cancel {
  float: left;
  display: block;
  overflow: hidden;
  text-indent: -999em;
  cursor: pointer;
}
.ui-stars-star a,
.ui-stars-cancel a {
  width: 16px;
  height: 15px;
  display: block;
  background: url(../images/jquery.ui.stars.gif) no-repeat 0 0;
}
.ui-stars-star a {
  background-position: 0 -32px;
}
.ui-stars-star-on a {
  background-position: 0 -48px;
}
.ui-stars-star-hover a {
  background-position: 0 -64px;
}
.ui-stars-cancel-hover a {
  background-position: 0 -16px;
}
.ui-stars-star-disabled,
.ui-stars-star-disabled a,
.ui-stars-cancel-disabled a {
  cursor: default !important;
}  
  
