@import url(http://fonts.googleapis.com/css?family=Neucha&subset=latin);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic&subset=latin);
@font-face { 
 font-family: Museo700; 
 src: url( ../font/Museo-700.eot ); /* IE */  
 src: local("Museo 700"), url('../font/Museo-700.ttf') format("truetype"); 
}
@font-face { 
 font-family: Museo300; 
 src: url( ../font/Museo-300.eot ); /* IE */  
 src: local("Museo 300"), url('../font/Museo-300.ttf') format("truetype"); 
}
body, html{
    margin:0px;
}
*{    
    margin:0px;
}

del, ins{
    text-decoration: none;
}
del, del>*{
    background: #FCC
}
ins, ins>*{
    background: #BFB;
}
hr{
    margin-bottom:20px;
}
a {text-decoration: none;
  color: #16aad7;}
a:hover {text-decoration: underline;
  color: #16aad7;}
  
#content p, #content ul{
    margin: 10px 0px 10px 0px;
    line-height: normal;
}
h1, h2, h3{
    font-family: Museo700;
}
h1{
    font-size: 35px;
}
h2{
    font-size:24px;
}
h3{
    font-size: 19px;
}
h4{
    font-family: Arial;
    font-size:14px;
}
#flatpage-content h1,#flatpage-content h2,#flatpage-content h3{
    margin-top:25px;
    margin-bottom:0px;
}
.float_left{
    float:left!important;
}
.float_right{
    float:right!important;
}
.right_align{
    text-align: right!important;
}
.left_align{
    text-align: left!important;
}
.middel{
    width:960px;
    margin:0px auto;
}
body {
    background-color:#FFF;
    color: #000;
    margin: 0px;
    font: 16px 'PT Sans', arial,  serif;}
 
#container{
    width: 100%;
}

/*****************Header*********************/
#header {
    color:#008bb6;
    background-color: #FFF;
    padding-top:0px;
    text-transform: uppercase;
    font: 12px Verdana;
    height:66px;    
    width:100%;
}
#header_inner{
    position: fixed;
    z-index:7;
    width:100%;    
    background-color: #FFF;
    -moz-box-shadow: 0px 3px 10px #000;
	-webkit-box-shadow: 0px 3px 10px #000;
	box-shadow: 0px 3px 10px #000;
	-o-box-shadow: 0px 3px 10px #000;
}
#header_ieshadow{
    z-index:1;
    background: #FFF;
    position: fixed;
    height: 1px;
    width:100%;
    zoom: 1;
    filter:
        progid:DXImageTransform.Microsoft.Shadow(color=#515151,direction=180,strength=10);
}

#header_inner_inner{
    padding-top: 5px;
    width:960px;
    height:61px;
    margin:0px auto;
}
#header a:hover {
	text-decoration: underline;
}
#sitelogo{
    margin-top:5px;
    float:left;
    border:none;
}

/*******NAVIGATIONBAR*********/
#nav {
    float:left;
    margin:14px 0px 0px 50px;
    line-height: 100%;
    width:410px;
    padding: 0px;
}
#nav li {
    margin: 0 0px;
    padding: 0 0 4px;
    float: left;
    position: relative;
    list-style: none;
}
/* main level link */
#nav a {
    text-decoration: none;
    display: block;
    padding:  8px 5px;
    margin: 0;
    border-bottom: solid 3px #fff;
    cursor:default;
}
#nav a:hover{
    text-decoration: none;
}
/* main level link hover */
#nav .current a, #nav li:hover > a {
    border-bottom: solid 3px #16aad7;
}
/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
    background: none;
    border: none;
    color: #666;
}
#nav ul a:hover {
    background: #01A3D4 !important; /* for non-css3 browsers */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#01A3D4', endColorstr='#0186ba'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#01A3D4), to(#0186ba)) !important; /* for webkit browsers */
    background: -moz-linear-gradient(top,  #01A3D4,  #0186ba) !important; /* for firefox 3.6+ */

    color: #fff !important;
}
/* level 2 list */
#nav ul {
    text-transform: none;
    background: #FFF; /* for non-css3 browsers */
    display: none;
    margin: 0;
    padding: 0;
    width: 185px;
    position: absolute;
    top: 35px;
    left: 0;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-box-shadow: 0 14px 15px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0 14px 15px rgba(0, 0, 0, .6);
    box-shadow: 0 14px 15px rgba(0, 0, 0, .6);
}
/* dropdown */
#nav li:hover > ul {
    display: block;
}
#nav ul li {
    float: none;
    margin: 0;
    padding: 0;
}
#nav ul a {
    font-weight: normal;
}
/* rounded corners for last child */

#nav ul li:last-child > a {
    -webkit-border-bottom-left-radius: 9px;
    -moz-border-radius-bottomleft: 9px;
    -webkit-border-bottom-right-radius: 9px;
    -moz-border-radius-bottomright: 9px;
}
/* clearfix */
#nav:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#nav {
    display: inline-block;
}
html[xmlns] #nav {
    display: block;
}
* html #nav {
    height: 1%;
}

/*******NAVIGATIONBAR ENDS*********/

#profile ul{
	list-style-type: none;
}
#profile{
    overflow: visible;
    text-transform:none;
    font-size: 9px;
    float:right;
    margin:11px 0px 0px 20px;
    width:120px;
}
#profile-login{
    text-transform:uppercase;
}
#animation{
    font-size: 14px;
    color: #df0003;
    position: relative;
    text-align: left;
    right:0px;
    top:0px;
    text-shadow: 0px 0px 0px #000;
    float:left;
    z-index:1;
}

#user-score{
    width:85px;
    height:17px;
    margin-right:0px;
}
/***********    Banner   **********/
#all_banner{
    height:40px;
}
#home_banner_container, #all_banner{
    display: block;
    background-image: url(../img/home_banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color:#01a3d4;
}
#home_banner{
    height:385px;
    padding-left: 55px;
    padding-bottom: 0px;
    padding-right: 5px;
    padding-top: 40px;
    color:#FFF;
    margin:0px auto;
    width:900px;
}
#all_header_container{
    display: block;
    background-color:#01a3d4;
    height:120px;
    width:100%;
}
#all_header_banner{
    background-color:#01a3d4;
    padding:30px 10px 60px 50px;
    color:#FFF;
    margin:0px auto;
    width:900px;
    height:30px;
    line-height: 30px;
}
#home_banner h1{
    font-style: normal;
    font-weight: normal;
    font-size: 35px ;
    font-family: Museo300;
}
#home_banner h1 b, #all_header_container h1{
    font-style: normal;
    font-weight: normal;
    font-family: Museo700;
}
#home_banner_text{
    margin-top:40px;
    width:400px;
}
#home_banner_text ul{
    
	list-style-type: square;
    
}
a#home_banner_button {
    margin:20px 0px 0px 140px;
    letter-spacing: 1px;
    text-shadow: 0px 1px black;
    background: url('../img/home_banner_button_span.png') no-repeat scroll top right;
    color: #FFF;
    display: block;
    float: left;
    font: bold 22px arial, sans-serif;
    height: 55px;
    padding-right: 20px; /* sliding doors padding */
    text-decoration: none;
}

a#home_banner_button span {
    background: url('../img/home_banner_button.png') no-repeat top left;
    display: block;
    line-height: 19px;
    padding: 18px 0px 18px 20px;
}
a#home_banner_button:active {
    background-position: bottom right;
    color: #FFF;
    outline: none; /* hide dotted outline in Firefox */
}

a#home_banner_button:active span {
    background-position: bottom left;
    padding: 19px 0px 17px 20px;
}
#home_banner_book{
    margin:0px;
}
#content_container {
    background: none; 
    color: #2e3436; 
    margin:0px auto 40px auto;
    width:960px;
}
#content {
    background: #ffffff; 
    color: #2e3436; 
    margin:40px 30px 0px 30px;
    width:900px;
}
#content_inner {
    background: #ffffff; 
    /*
    position: relative;
    top: -70px;
    left:0px;
    */
    width: 900px;
    padding-top:40px;
    margin-top:-70px;
}
#content_alone{
    margin-left:50px;
}
#main_content{
    width:510px;
    margin-right:50px;
    margin-left:20px;
    float:left;
    position: none;
}
#main_content p, #flatpage-content p{
    text-align: justify;
}
#main_content img{ ;
	border-color: #eeeeee;  
	border-width: 10px;  
	border-style: solid;  
    -moz-box-shadow: 0px 0px 3px #000;
	-webkit-box-shadow: 0px 0px 3px #000;
	-box-shadow: 0px 0px 3px #000;
    zoom:1;
    filter:
        progid:DXImageTransform.Microsoft.Shadow(color=#898989,direction=0,strength=3),
        progid:DXImageTransform.Microsoft.Shadow(color=#898989,direction=90,strength=3),
        progid:DXImageTransform.Microsoft.Shadow(color=#898989,direction=180,strength=3),
        progid:DXImageTransform.Microsoft.Shadow(color=#898989,direction=270,strength=3),
        progid:DXImageTransform.Microsoft.Shadow(color=#898989,direction=45,strength=3),
        progid:DXImageTransform.Microsoft.Shadow(color=#898989,direction=135,strength=3),
        progid:DXImageTransform.Microsoft.Shadow(color=#898989,direction=225,strength=3),
        progid:DXImageTransform.Microsoft.Shadow(color=#898989,direction=315,strength=3);
}
#content_overview{
    float:left;
    width:150px;
    padding:20px 5px 10px 20px;
    border-right:1px solid #ececec;
    background-color: #f9f9f9;
    position: relative;
    top:-40px;
    min-height: 200px;
    margin-right:20px;
    background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#FFF));
    background: -moz-linear-gradient(top,  #F9F9F9,  #FFF);
}

#sidebar{
    width:320px;
    float:left;
}
.sidebar_mentor{
    width:320px;
    height:120;
    margin-bottom:10px;
}
.sidebar_text{
    font-family: Arial;
    padding:5px;
    width:175px;
    float:right;
}
.sidebar_text p{
    font-size: 12px;
}
.sidebar_text a{
    color:#aa0000;
    text-decoration: underline;
}
.sidebar_text a:hover{
    text-decoration: none;
}
#footer {
    margin: auto;
    width: 900px;
    text-align: center;
    background-color: #f1f1f1;
    color: #9d9d9d;
    padding-top: 20px;
    padding-bottom:20px;
}

p.tagline {
    margin: 8px 0;
    width: 500px;
    font-size: 16px;
    color: #204a87;
    font-weight: bold;
}

.meta {
    font-size: 13px;
    color: #555753;
}




/* chapters */
#chapter_title{
    width:370px;
}
h1 a, h2 a, h3 a {}

.chapter {}

#message{
    border-left-color: #999;
    border-top-color: #4e4e4e;
    position: fixed;
    right:0px;
    bottom:0px;
    display: none;
    width:330px;
    min-height: 80px;
    padding:5px 5px 5px 10px;
    border-left:1px solid #16AAD7;
    border-top:4px solid #16AAD7;
    z-index: 1000;
    box-shadow: 0px 5px 10px black;
    background-color: white;
}

.chapter .title {border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #16aad7;widows: 2;font-size:35px; margin: 4px 0;}
.chapter .body, .chapter .summary, #flatpage-content p {text-align: justify;}

/* chapter teaser */
.teaser .title {font-size: 24px}
.chapter.teaser .title a {color: #2E3436;}

.chapter.teaser {
    margin-bottom:20px;
    padding-top:10px;
}

.helptext{
    font-size: 11px;
    color: #999;
}

.chapter_thumbnail{
    margin:15px 10px 0px 0px;
    border: none!important;
    padding: none!important;
}

#content_overview ul{
    list-style: none;
    padding: 0px 10px 0px 0px;
}

#content_overview li{
    position: relative;
    padding: 8px 0px;
}

#content_overview li a{
    display: block;
    width:115px;
    margin: 0px;
    padding: 0px;
}

.new{
    font-size: 11px;
    color: #555753;
    float: right;
    position: absolute;
    top:19px;
    right:0px;
}

.read{
    display: none;
}

.profile_score{
    font-size: 11px;
    color: #3cc628;
    float: right;
    position: absolute;
    top:2px;
    right:0px;
}

.chapter_rating{
    text-shadow: 0px 1px 0px white;
    color: black;
    font-size: 12px;
    background:url(../images/jquery.ui.stars.gif) 0 -48px no-repeat;
    width: 15px;
    height: 12px;
    display: block;
    overflow: visible;
    text-align: center;
    padding-top:3px;
    padding-left:1px;
    position: absolute;
    top:3px;
    right:0px;
}
/* chapter full */

/* comments */
#comments {}
.comment{
    width:716px;
    margin-bottom: 20px;
    margin-top: -90px; 
    padding-top: 100px;
}
#comment-form {
    border-top-color: #16aad7; 
    border-top-style: solid; 
    border-top-width:1px;
    padding-top:10px;
}

.comment h3.title {margin: 4px 0;}

.comment .content {
    padding-left: 8px; 
    margin-top: 4px;
    text-align: justify;
}
.comment_text {
    border-top-color: #16aad7; 
    border-top-style: solid; 
    border-top-width:1px;
	float: left;
	width: 500px;
	margin-right:10px;
}  
.comment_header{
    height:30px;
    width:500px;
}
.comment_score{
    margin-top:3px;
    margin-left:5px;
}
#share_box{
    margin-left:20px;
    position: fixed;
    top:242px;
    width:140px;
    height:100px;
}
#share_buttons{
    width:140px;
    height:100px;
    margin-top:30px;
    float:left;
}
#edit_button{
    background-image: url(../img/edit.png);
    width:23px;
    height:30px;
    display: block;
    margin: 0px 0px 0px 10px;
}
#edit_button:hover{
    background-image: url(../img/edit_hover.png);
}
#chapter_header{
     border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #16aad7; 
     width:520px;
}
#chapter_info{
    width:150px;height:50px;float:right;
}
/* comment voting */

/*  
.vote {
    left:910px;
    float: left; 
    width: 190px;
}*/
.vote .options, .vote .status {
  float: right;
}
.options{
    width:70px;
}
.vote-score {
    font-size: 20px; 
    line-height: 1.4;
}
.vote-up {background-position: -3px -47px; color: #73d216;}
.vote-up.vote-on {background-position: -3px -47px;}
.vote-down {background-position: -3px -4px; color: #cc0000;}
.vote-down.vote-on {background-position: -3px -4px;}

.vote-up, .vote-down {
    background-image: url('../images/cakethebook-sprite.png');
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    float: right;
    height: 24px;
    width:24px;
}
  
 
/* Rating */
#rating {
  height: 20px;  width:80px;
}
#rating-after-container{
    margin-top:10px;
    float:left;
    width:120px;
}
#rating-after-container hr{
    margin-bottom:5px;
}
.ui-stars-star,
.ui-stars-cancel {
  float: left;
  display: block;
  overflow: hidden;
  text-indent: -999em;
  cursor: pointer;
}
.ui-stars-star a,
.ui-stars-cancel a {
  width: 16px;
  height: 15px;
  display: block;
  background: url(../images/jquery.ui.stars.gif) no-repeat 0 0;
}
.ui-stars-star a {
  background-position: 0 -32px;
}
.ui-stars-star-on a {
  background-position: 0 -48px;
}
.ui-stars-star-hover a {
  background-position: 0 -64px;
}
.ui-stars-cancel-hover a {
  background-position: 0 -16px;
}
.ui-stars-star-disabled,
.ui-stars-star-disabled a,
.ui-stars-cancel-disabled a {
  cursor: default !important;
}
/*WIKI*/
#wiki_history_table .toggle_container{
    width:650px;
}
.toggle_container{
    width:610px;
}
.trigger h3{
    color:#16AAD7;
}
.t650{
   width:650px!important; 
}
.history_plus{
    font-weight: bold;
    font-size:30px;
    color:#16AAD7;
}
.activity{
    cursor: pointer;
    background-color:#eee;
    padding:7px 5px 0px 5px!important;
    border-bottom: #ccc 3px solid;
    text-shadow: 0px 1px white;
    margin-bottom:15px;
    margin-top:15px;
}
.button_container{
    height:100px;
}
.button{
    background-color: #f6f6f6;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #888888;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    margin:30px 5px 20px 0px;
}
#create_chapter_button{
    line-height: 1;
    display: inline-block;
    border: 2px solid #850001;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-color: #df0003; 
    padding: 5px 10px 6px;
    margin:30px 5px 20px 0px;
    text-decoration: none;
    color:#FFF;
}
#create_chapter_button:hover{
    background-color: #c50003;
}
#create_chapter_button:active{
    background-color: #df0003;
}
.button:hover{
    color: #656565;
    border: 1px solid #c5c5c5;
}
.button:active{
}


table#wiki_revision_table th{
    vertical-align:top;
    text-align: left;
}
#id_revision_text, #wiki_revision_table textarea{
    width:500px;
}
#wiki_revision_table textarea{
    height:500px;
}
input[type="submit"]:hover{
    text-decoration: underline;
    color: #656565;
    border: 1px solid #c5c5c5;
    cursor: pointer;
}
input, textarea{
    background: #f6f6f6;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #7c7c7c;
    text-decoration: none;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #dcdcdc;
    margin-bottom:10px;
}
input[type="hidden"]{
    display: none;
}
input{
    font-weight: bold;
}
textarea{
    font-weight: none;
}
input:focus, textarea:focus{
    color: #656565;
    border: 1px solid #c5c5c5;
    outline: none;
}

/* Edit and create chapter */
#createchapter{
    position:absolute;
    left:-99999px;
}

#javascript_error{
    
}

/* Feedback */
#feedback{
    position: fixed;
    right:right;
    top:50%;
    width:30px;
    height:100px;
    background-color: #df0003;  
    border:none;  
}
#feedback img{
    border: none;
}
.clear{
    clear:both;
}
.rolemodels_title{
    margin-top: -100px; padding-top: 100px; display: block; padding-bottom:15px;
}



/*NOTIFICATION*/
#info{
    font-size:12px;
	width:30px;
	height:40px;
	list-style:none;
	margin:0px 5px 0px 0px;
    padding: 0px;
}
#info li{
	margin-right:10px;
	position:relative;
	display:block;
	list-style: none;
}
#info a.infobuttons{
    background-color: #DDD;
    background-image: url(../img/notification-logo.jpg);
    background-position: -2px -1px;
	display:block;
	padding:5px 6px;
	border:#999 solid 1px;
	color:#000;
	text-decoration:none;
	/*border:2px solid #c6b96d;*/
	width:16px;
	height:28px;
	-webkit-box-shadow:0px 0px 1px #ccc;
    -moz-box-shadow:0px 0px 1px #ccc;
	box-shadow:0px 0px 1px #ccc;
}
#info a.infobuttons:hover, #info li:hover a.infobuttons{
    background-image: url(../img/notification-logo-hover.jpg);
}
#info ul{
	position:absolute;
	left:-99999px;
	display: block;
	margin:0px;
	padding:0px;
	width:300px;
	border:1px solid #333;
	opacity:0;
    -webkit-transition:0.25s linear opacity;
    -moz-transition: 0.25s linear opacity;
}
#info ul li{
	border-bottom-color: #eeeeee;
	float:none;
	margin:0px;
	display:block;
	padding:5px;
	color: #464646;
	background:white;
	text-decoration:none;
	border-bottom:solid 1px;
	min-height:50px;
}
#info li:hover > ul{ 
    left:-272px;
	display: block;
	opacity:1;
}
#info ul li:hover{
	background-color: #f1f1f1;
}
#info ul li a{
	color: #c35a39;
}
#info ul li a:hover{
	text-decoration: none;
	color: white;
	background-color: #e78e4c;
}
#info #notifications-top{
    border-bottom-style: solid;
    border-bottom-color: #d1d1d1;
    background-color: #f4f4f4;
    font-weight: bold;
	float:none;
	margin:0px;
	display:block;
	padding:5px;
	color: #404040;
	text-decoration:none;
	border-bottom-width: 1px;
	min-height:10px;
}
#info #notifications-count{
    display: block;
    position: absolute;
    z-index:20;
    right:-13px;
    top:-3px;
    padding:2px;
    -webkit-border-radius:3px;
    color:#FFF;
    background-color: #ff1218 ;
}

/* USER SIDE */
