{% extends 'base.html' %}
{% load comments %}
{% load voting_tags %}

{% block content %}
    
<div class="chapter grid_9 clearfix">
    <h1 class="title grid_7 prefix_2 alpha omega">{{ chapter.title }}</h1>
    
    <div class="meta grid_2 alpha">
    
        
    
        <p>rating, 
        Last updated: {{ chapter.mod_date|timesince }} ago
        </p>
    </div>
    
    <div class="grid_7 omega">
        {{ chapter.body }}
    </div>
    
</div>


<div id="comments" class="grid_9">
{% get_comment_list for chapter as comment_list %}
{% for comment in comment_list %}
    <div id="c{{ comment.id }}" class="comment grid_9 alpha omega clearfix">
    
        <div class="meta grid_1 prefix_1 alpha">
            {% score_for_object comment as score %}
            <div class="vote">        
                <span class="vote-up-off" title="This input is useful (click again to undo)">vote up</span>                
                <span class="vote-score">{{ score.score }}</span>
                <span class="vote-down-off" title="This input is not useful (click again to undo)">vote down</span>
             
             </div>    
        </div>
        
        <div class="grid_7 omega">
            <p>{{ comment.comment }}</p>
            <p class="meta">{{ comment.submit_date|timesince }} ago
            by <em>{{ comment.user_name }}</em></p>
        </div>               
        
    </div>
    
{% endfor %}
        
<div id="comment-form" class="grid_7 prefix_2 alpha omega">
{% if user.is_authenticated %}
    {% get_comment_form for chapter as form %}
    <form action="{% comment_form_target %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{% url book.views.chapter chapter.pk %}" />
        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                {% if field.name != "name" and field.name != "email" and field.name != "url" %}
                    
                    <p {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                
                    {% if field.errors %}{{ field.errors }}{% endif %}
                    {{ field }}
                    </p>
                {% endif %}
            {% endif %}
        {% endfor %}
        <input class="submit-post" name="post" type="submit" value="Send feedback" />
    </form>
{% else %}
    Log in or register to comment!
{% endif %}
</div>

</div>
    
        
        
    
                
    
{% endblock %}
