{% extends 'base.html' %}
{% load comments %}
{% load voting_tags %}
{% load random_chapter_message %}
{% block title %}{{ chapter.title }}{% endblock %}
{% block sideheader %}Chapter{% endblock %}

{% block contentview %}
    {% include 'chapter_overview_snippet.html' %}                                
{% endblock %}

{% block content %}
{% if chapter.visible %}
<div class="chapter clearfix" id="chapter">
    <div id="chapter_header">
        <h1 id="chapter_title" class="float_left">{{ chapter.title }}</h1>
        <div id="chapter_info">
            <div id="rating_average"class="float_left">
                {{ chapter.rating.votes }} {% ifequal chapter.rating.votes 1 %}vote{%else%}votes{%endifequal%}<br />
                <form id="avg" action="{% url rate-chapter chapter.id %}" method="post">
                {% for value, label in options %}             
                    <input type="radio" name="rate_avg" value="{{ value }}" title="{{ label }}" disabled="disabled" {% ifequal score value %}checked="checked"{% endifequal %}/>
                {% endfor %}	
                </form>		        
            </div>
            {% if related_wiki %}<a id="edit_button" class="button float_left" title="Edit chapter" href="{{ related_wiki.get_absolute_url }}/_edit/"></a>{% endif %} 
        </div>
        <div class="clear"></div>
    </div>
     <p class="author meta float_left">
       Date: {{ chapter.pub_date }}
     </p>
     <p class="author meta float_right">
    By <a href="{% url user-overview username=chapter.author.username %}">{% if chapter.author.last_name and chapter.author.first_name %}{{ chapter.author.get_full_name }}
    {% else %}{{ chapter.author.username }}{% endif %}</a>
     </p>
     <div class="clear"></div>
    <div class="body">
        {% if chapter.picture %}
            <img src="{{ chapter.picture.url_500x100000 }}" />
            <p class="helptext">{{ chapter.picture_description }}</p>
        {% endif %}
        {{ chapter.body_html|safe }} 
       
    </div>   
    
    <p class="meta">{{ v }}
       This chapter was last updated: {{ chapter.mod_date|timesince }} ago.
     </p>
  
     
</div>
<div id="message">
{% any %}
<h3>Remember to rate!</h3>Liked this chapter? Rate it and help us choosing if it’ll be in the final version of the book!
<h3>Rate!</h3>Rate this chapter and 10 other chapters and we will credit you in the printed  version of the book!
<h3>Be credited!</h3>Want to take part and be credited in the book? Help us choosing its content: rate 10 chapters and you’ll be credited as a co-creator!
<h3>Read, rate and comment!</h3>Want to receive your own copy of the final book? Read, rate and comment and collect 50 bi-winning points to receive your own copy of book!
<h3>Remember to Comment!</h3>Anything {% any %}to comment?|to add?{% endany %} Comment this chapter and receive 3 bi-winning points! 15 points and you’ll be credited in the final version of the book as a co-creator!
{% endany %}
</div>

<div id="comments">

    <h2 class="section-title">Feedback</h2>
{% get_comment_list for chapter as comment_list %}
{% for comment in comment_list %}

    {% score_for_object comment as score %}
    {% vote_by_user user on comment as vote %}
    <div id="c{{ comment.id }}" class="comment clearfix">        
            


        <div class="comment_text alpha">
            <div class="comment_header">
            <span class="float_left comment_score" style="margin-right:5px;">By </span>
            <a href="{% url user-overview username=comment.user.username %}"><h3 class="title float_left"> {{ comment.user_name }}</h3></a>
            <span class="float_left comment_score">who has <b>{{comment.user.get_profile.score}} Bi-winning points.</b></span>
            <div class="vote">
            <div class="options">
            <span class="vote-up {% if vote and vote.is_upvote %}vote-on{% endif %}" title="Vote up (click again to undo)"></span>
            <span class="vote-down {% if vote and vote.is_downvote %}vote-on{% endif %}" title="Vote down (click again to undo)"></span>
            </div>
            <div class="status"><span class="vote-score">{{ score.score }}</span></div>                
            </div> 
            </div>
            
            <div class="content">{{ comment.comment|linebreaks }}</div>
            <p class="meta">          
                <span class="submitted">
                    Submitted {{ comment.submit_date|timesince }} ago
                </span>
            </p>          
        </div>    
                   
     </div>
    
{% endfor %}


  <h2 class="section-title">What do you think about this chapter?</h2>
<div id="comment-form">
{% if user.is_authenticated %}
    {% get_comment_form for chapter as form %}
    <form action="{% comment_form_target %}" method="post" onsubmit=" return update_point_session()">
        {% csrf_token %}
        <input name="next" type="hidden" value="{% url book.views.chapter chapter.pk %}" />
        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                {% if field.name != "name" and field.name != "email" and field.name != "url" %}
                    
                    <p {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                
                    {% if field.errors %}{{ field.errors }}{% endif %}
                    {{ field }}
                    </p>
                {% endif %}
            {% endif %}
        {% endfor %}
        <input class="submit-post" name="post" type="submit" value="Share your feedback"/>
    </form>
{% else %}
    <p>
    <a href="/accounts/login/?next={{ request.path }}">Log in</a> or <a href="/accounts/register?next={{ request.path }}">register</a> to comment!
    </p>
{% endif %}
</div>

</div>
<div class="float_right">
<div id="share_box">
    <h3>Your rating</h3>
            <div id="rating">      
                <form id="rating-widget" action="{% url rate-chapter chapter.id %}" method="post">
                    {% csrf_token %}
                    
                    <select name="score">             
                    {% for value, label in options %}             
                        <option value="{{ value }}" {% ifequal value rating_on_chapter|slugify %}selected="selected"{% endifequal %}>{{ label }}</option>
                    {% endfor %}
                    </select>
                    <input type="submit" value="Rate it!" />
                </form>
                
                <div id="rating-after-container">
                <hr />
                <span class="helptext">Your rating is important, it will determine if this chapter is included in the final collaborative book!</span>
                <hr />
                {% if user.is_anonymous %}
                <div id="rating-after">
                <a href="{% url auth_login %}?next={{ request.path }}#rating">log in</a>
                or 
                <a href="{% url registration_register %}?next={{ request.path }}#rating">register</a>
                to rate, it's easy!
                </div>
                {% endif %}
                </div>
                
            </div>
       <div id="share_buttons">
       <iframe src="http://www.facebook.com/plugins/like.php?href={{"http://winning-without-loosing.com"|urlencode}}{{ chapter.get_absolute_url|urlencode }}&amp;layout=box_count&amp;show_faces=true&amp;width=40&amp;action=like&amp;font&amp;colorscheme=light&amp;height=65&amp;locale=en_US" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:65px;" allowTransparency="true"></iframe>

    <iframe allowtransparency="true" frameborder="0" scrolling="no" tabindex="0" class="twitter-share-button twitter-count-vertical" src="http://platform0.twitter.com/widgets/tweet_button.html?_=1302986533278&amp;count=vertical&amp;lang=en&amp;text={{ chapter.title|urlencode }}%20on%20Winning%20Without%20Losing&amp;url={{"http://winning-without-loosing.com"|urlencode}}{{ chapter.get_absolute_url|urlencode }}" style="width: 55px; height: 67px; " title="Twitter For Websites: Tweet Button"></iframe>
    </div>
    </div>
      </div>
{% else %}
<h3>This chapter is not yet ready</h3>
We are sorry, please wait for the chapter to be finished.
{% endif %}
{% endblock %}

{% block context %}
 
{% endblock %}