{% extends 'base.html' %}
{% load comments %}
{% load voting_tags %}


{% block title %}{{ chapter.title }}{% endblock %}

{% block content %}
<div class="chapter clearfix">
    <h1 class="title">{{ chapter.title }}</h1>
    
    <div class="meta">
    
      <div id="rating">
            
      <form id="rating-widget" action="{% url rate-chapter chapter.id %}" method="post">
             {% csrf_token %}
             <select name="rate">
                 <option value="1" {% if usersrating == 1 %}selected="selected"{% endif %}>Very poor</option>
                 <option value="2" {% if usersrating == 2 %}selected="selected"{% endif %}>Not that bad</option>
                 <option value="3" {% if usersrating == 3 %}selected="selected"{% endif %}>Average</option>
                 <option value="4" {% if usersrating == 4 %}selected="selected"{% endif %}>Good</option>
                 <option value="5" {% if usersrating == 5 %}selected="selected"{% endif %}>Perfect</option>
            </select>
            
            <input type="submit" value="Rate it!" />
     </form>
     </div>
     <p>
       Last updated: {{ chapter.mod_date|timesince }} ago
     </p>
        
    </div>
    
    <div class="body">
        {{ chapter.body_html|safe }}
    </div>
    
</div>


<div id="comments">

    <h2 class="title page-section">Feedback</h2>
{% get_comment_list for chapter as comment_list %}
{% for comment in comment_list %}

    {% score_for_object comment as score %}
    {% vote_by_user user on comment as vote %}
    <div id="c{{ comment.id }}" class="comment clearfix">        
            

            <h3 class="title">{{ comment.user_name }}:</h3>
            <p class="content">{{ comment.comment }}</p>
            <p class="meta">          
                <span class="submitted">
                    Submitted {{ comment.submit_date|timesince }} ago
                </span>
            </p>          
            
            <div class="vote">        
               <span class="vote-up {% if vote and vote.is_upvote %}vote-on{% endif %}" title="This input is useful (click again to undo)">vote up</span>                
               <span class="vote-score">{{ score.score }}</span>
               <span class="vote-down {% if vote and vote.is_downvote %}vote-on{% endif %}" title="This input is not useful (click again to undo)">vote down</span>            
            </div>        
    </div>
    
{% endfor %}
        
<div id="comment-form">
{% if user.is_authenticated %}
    {% get_comment_form for chapter as form %}
    <form action="{% comment_form_target %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{% url book.views.chapter chapter.pk %}" />
        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                {% if field.name != "name" and field.name != "email" and field.name != "url" %}
                    
                    <p {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                
                    {% if field.errors %}{{ field.errors }}{% endif %}
                    {{ field }}
                    </p>
                {% endif %}
            {% endif %}
        {% endfor %}
        <input class="submit-post" name="post" type="submit" value="Send feedback" />
    </form>
{% else %}
    Log in or register to comment!
{% endif %}
</div>

</div>
    
{% endblock %}