{% extends 'base.html' %}
{% block title %}Your own chapter{% endblock %}
{% block sideheader %}Create your own chapter{% endblock %}

{% block contentview %}
    {% include 'chapter_overview_snippet.html' %}                               
{% endblock %}


{% block content %}
<h1>Congratulations! You have created your own chapter.</h1>
We will take a look on the chapter as soon as possible and put it out on the website. This proceedure is necessary to prevent spam.
{% endblock %}

{% block context %}
{% endblock %}