<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="da" lang="da" dir="ltr">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-language" content="da" />
    
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/960.css"
        type="text/css" media="screen, projection" />

    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" media="all"
        href="{{ MEDIA_URL }}css/screen.css" />
        
    {% block css %}{% endblock %}
    
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss/latest/" />
    
    <meta name="keywords" content="" />
    <meta name="description" content="" />    
    <title>{% block title %}Welcome{% endblock %} &middot; Winning without losing</title>
    
</head>
<body>


<div id="header" >
    <div class="container_12 clearfix">
        <div class="grid_7">
            <div id="site-title">
                <a href="/">Winning Without Losing</a>
            </div>
            <p class="tagline">
                Discover how a new class of entrepreneurs have built their fortunes
while living a happy and balanced life
            </p>
            <p class="tagline">
                Beta launch 7<sup>th</sup> December 2010. Free hard copy book and accreditation in the book as early adopters to the top 100 contributors.
            </p>
        </div> 
    </div>
</div><!-- /header -->

<div id="navigation">
    <div class="container_12 clearfix">
        <div class="grid_12">
            <ul>
                <li><a href="/who/">who they are</a></li>
                <li><a href="/book/">learn their secrets</a></li>
                <li><a href="/awards/">win awards</a></li>
                <li><a href="/about/">about this project</a></li>
            </ul>
        </div>
    </div>            
</div>


{% if messages %}
<div id="messages" class="container_12 clearfix">
  <ul>{% for message in messages %}
    <li>{{ message }}</li>{% endfor %}</ul>
</div>
{% endif %}

<div id="content">
    <div class="container_12 clearfix">   
        <div id="main-content-block" class="grid_7">
            {% block content %}{% endblock %}
        </div>
        
        <div id="context-block" class="grid_3">
            {% block context %}
            
            <div id="theauthors">
                <h2>The authors</h2>
                
                
                
                <h3>Martin Bjergegaard</h3>             
                <img width="100" src="{{ MEDIA_URL }}images/martin.jpg" alt="Martin"/>
                <p>Entrepreneur and Partner at 
<a href="http://www.rainmaking.dk" title="Rainmaking">Rainmaking</a></p>
                
                
                <h3>Jordan Milne</h3>               
                <img width="100" src="{{ MEDIA_URL }}images/jordan.jpg" alt="Jordan"/>
                <p>Entrepreneur and Writer at
                <a href="http://www.equity-lab.com/" title="Equity lab">Equity lab</a>.</p>
            </div>
            
            
            {% endblock %}
        </div>
    </div>   
</div><!-- /content -->

<div id="footer">    
    <div class="container_12 clearfix">
        <div class="grid_7">
            <p>Winning Without Losing is hosted on a <a href="http://linode.com">Linode</a>. The code is available Open Source at <a href="https://github.com/mrbichel/cakewriter">Github</a>.</p>
        </div>
    </div>
</div><!-- /footer -->

<div id="user-context">
    <div class="content">
      <ul id="user-menu">
        {% if user.is_authenticated %}
            <li id="username">{{ user.username }}</li>
            <li id="user-score">{{ user.get_profile.score }} points</li>
            <li><a href="{% url auth_logout %}">log out</a></li>
            
        {% else %}
            <li><a href="{% url registration_register %}">register</a></li>
            <li><a href="{% url auth_login %}">log in</a></li>
                 
        {% endif %}
      </ul>
        {% block usercontext %}
        {% endblock %}
    </div>      
</div>


{# js #}
<script src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/jquery-ui-1.8.6.custom.min.js" type="text/javascript"></script>

<script src="{{ MEDIA_URL }}js/jquery.ui.stars.min.js" type="text/javascript"></script>

<script src="{{ MEDIA_URL }}js/base.js" type="text/javascript"></script>

</body>
</html>