{% load tagging_tags %}

<div id="content_overview" style="width:170px!important;">
        {% if not user.is_authenticated %}
        <h3>Subscribe to new chapters</h3>
        <form action="/subscribe/" method="post">
        {% csrf_token %}
        <input type="text" name="email" value="E-mail" style="width:120px;" placeholder="E-mail" onfocus="this.value=(this.value=='E-mail') ? '' : this.value;" onblur="this.value=(this.value=='') ? 'E-mail' : this.value;"/>
        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
        <input type="submit" value="subscribe" />
        </form>
        <br />
        {% else %}
        <a id="create_chapter_button" href="{% url user_chapter %}">Create chapter</a>
        {% endif %}
        
        <h3>Tags</h3>
        <ul id="tags">
        {% tags_for_model book.Chapter as entry_tags with counts %}
        {% for entry_tag in entry_tags %}
            <li>
            
                <a href="{% url tagged_chapters entry_tag %}">{{ entry_tag }} <span class="tag_count">({{ entry_tag.count }})</span></a>
                <div class="clear"></div>
            </li>
        {% endfor %} 
        </ul>
    </div>
    
    
    <div>
        <a href="/tag/{{ entry_tag }}/">{{ entry_tag }}</a>
