<div id="content_overview">
        {% if not user.is_authenticated %}
        <h3>Subscribe to new chapters</h3>
        <form action="/subscribe/" method="post">
        {% csrf_token %}
        <input type="text" name="email" value="" />
        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
        <input type="submit" value="subscribe" />
        </form>
        <br />
        {% else %}
        <a id="create_chapter_button" href="{% url user_chapter %}">Create chapter</a>
        {% endif %}
        
        <h3>Chapters</h3>
        <ul>
        {% for chapter in chapters %}
        <li>
        <a href="{{ chapter.get_absolute_url }}">{{ chapter.title }}</a> 
        <div class="chapter_rating">{{ chapter.get_score }}</div>
        <span class="new {% for votes in chapter.get_votes_on_chapter %}{% ifequal votes.user user %}read{% endifequal %}{% endfor %}">unread</span>
        </li>
        {% endfor %} 
        </ul>
    </div>