{% extends 'base.html' %}

{% block content %}

    <h1 class="section-title">Recent chapters</h1>
    {% for chapter in chapters %}       
        <div class="chapter teaser">                     
            <h2 class="title">
                <a href="{{ chapter.get_absolute_url }}">{{ chapter.title }}</a></h2>                                  
            
            <div class="summary">
                {{ chapter.summary_html|safe }}  
            </div>
            
            <a href="{{ chapter.get_absolute_url }}">Read more &hellip;</a>                                 
        </div>
                
    {% endfor %}  
{% endblock %}