{% extends 'base.html' %}

{% block content %}

<h1>Sacrifice no more</h1>

    <div id="introduction">
        <p>Traditional wisdom tells us that achieving financial success comes with great personal cost and sacrifice of other areas of life. We disagree that this is the only truth as we see a new movement of ultra-successful entrepreneurs emerging, who are also living a happy and balanced life.</p><p>
Winning Without Losing is a collaborative book creation project initiated by Martin and Jordan to discover and share the secrets of how to become successful and live a balanced life. We interview role models all around the world, and write chapters with insights on how they succeed to be successful and happy at the same time.
Every other day we present one thought provoking chapter and let you judge whether we are right or wrong using ratings and comments. In this collaborative search process your ratings and comments determine the content of the final book.</p><p>
Everyone who contributes will be credited in the book. We want to thank people for their ratings, comments and suggestion and offer awards to all contributors. For instance, the chance to have lunch with one of the role models profiled in the book.</p>
    </div>



<h2>Most recent chapters</h2>  
 <div class="chapter-list">
 
    {% for chapter in chapters %}
          
            <div class="chapter teaser">                     
                <h3 class="title">
                    <a href="{{ chapter.get_absolute_url }}">{{ chapter.title }}</a></h3>                                  
                
                <div class="summary">
                    {{ chapter.summary_html|safe }}  
                </div>
                
                <a href="{{ chapter.get_absolute_url }}">Read more &hellip;</a>                                 
            </div>
            
                 
    {% endfor %} 
    
   <!--<a href="{# all_chapters #}">See all chapters</a>-->
  </div>   
{% endblock %}