{% extends 'base.html' %}

{% block content %}

    <div id="introduction">
        <h2>A little about us</h2>
        <p>Traditional wisdom tells us that achieving financial success comes with great personal cost and sacrifice of other areas of life. We disagree that this is the only truth as we see a new movement of ultra-successful entrepreneurs emerging, who are also living a happy and balanced life.
Winning-Without-Losing is a collaborative book creation project initiated by Martin and Jordan to discover and share the secrets of how to become successful and live a balanced life. We interview role models all around the world, and write chapters with insights on how they succeed to be successful and happy at the same time. Every other day we present one thought provoking chapter and let you judge whether we are right or wrong using ratings and comments. In this collaborative search process your ratings and comments determine the content of the final book. Everyone who contributes will be credited in the book. We want to thank people for their ratings, comments and suggestion and promise a free paper version of the book to the 50 people who contributed the most, and make a draw amongst the 20 most contributing people for a lunch with Tim Ferriss. Read more about the project here. Click on the chapters below to read and rate them.</p>
    </div>


    {% for chapter in chapters %}       
        <div class="chapter teaser">                     
            <h2 class="title">
                <a href="{{ chapter.get_absolute_url }}">{{ chapter.title }}</a></h2>                                  
            
            <div class="summary">
                {{ chapter.summary_html|safe }}  
            </div>
            
            <a href="{{ chapter.get_absolute_url }}">Read more &hellip;</a>                                 
        </div>
                
    {% endfor %}  
{% endblock %}