{% load comments i18n %}
{% if user.is_authenticated %}
   <form action="{% comment_form_target %}" method="post">
        {% csrf_token %}
        {% if next %}<input name="next" type="hidden" value="{{ next }}" />{% endif %}
        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                {% if field.name != "name" and field.name != "email" and field.name != "url" %}
                    
                    <p {% if field.errors %} class="error"{% endif %} {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
                
                    {% if field.errors %}{{ field.errors }}{% endif %}
                    {{ field }}
                    </p>
                {% endif %}
            {% endif %}
        {% endfor %}
        <input class="submit-post" name="post" type="submit" value="Send feedback" />
   </form>
{% else %}
    Log in or register to comment!
{% endif %}