{% extends 'base.html' %}
{% load markup %}
{% block sideheader %}{{ flatpage.title }}{% endblock %}
{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}

    <div id="flatpage-content">
        {{ flatpage.content|markdown }}
    </div>
    
{% endblock %}


{% block context %}
            <div id="sidebar">
            <h2>The authors</h2>
                <div class="sidebar_mentor">
                               
                    <img width="150" src="{{ STATIC_URL }}images/martin150.jpg" alt="Martin"/>
                    <div class="sidebar_text" style="width:155px!important;">
                        <h3 style="">Martin Bjergegaard</h3>  
                        <p >Serial entrepreneur at <a href="http://www.rainmaking.dk" title="Rainmaking">Rainmaking</a>, living the life of his dreams.</p>
                    </div>
                </div>
                <div class="sidebar_mentor">
                    <img width="150" src="{{ STATIC_URL }}images/jordan150.jpg" alt="Jordan"/>
                    <div class="sidebar_text" style="width:155px!important;">
                        <h3>Jordan Milne</h3>               
                        <p>Entrepreneur and Writer.</p>
                    </div>
                </div>
                <a href="/authors/" title="Read more about the authors">Read more about the authors</a>
            {% include 'facebook_widget.html' %}
            </div>
{% endblock %}