{% extends 'email/email_base.html' %}
{% block content %}
Hi {{ user }}!<br /><br />

Congratulations, you got 10 bi-winning points! You are now officially part of the project and will be credited as a co-creator in our first book!<br /><br />

Now, remember to fill out your <a href="http://winning-without-losing.com/account/">profile form</a>, so we know exactly who to give credit to. You can also link it to your website or Facebook and Twitter accounts to make it easier for people who like what you write to contact you.<br /><br />

And if you reach 50 points, be sure that we will send you a copy of the book, wherever you are!<br /><br />

Have a nice day!<br />
{% endblock %}