<table cellspacing="0" width="100%" cellpadding="0" style="border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial;">
    <tr>
        <td align="center" bgcolor="#ecebe8" style="font-family: 'helvetica neue', arial, helvetica, sans-serif; font-size: 14px;">
            <div style="width:724px;-moz-box-shadow: 0px 0px 3px 0px #3d3d3d;-webkit-box-shadow: 0px 0px 3px 0px #3d3d3d;box-shadow: 0px 0px 3px 0px #3d3d3d;">
            <table cellspacing="0" width="724px" cellpadding="0" style="margin-top: 40px; margin-right: auto; margin-bottom: 25px; margin-left: auto; border:0px solid #FFF;">
                <tr bgcolor="#01a3d4" style="color: white; text-shadow:0px 1px 1px black;" height="68px">
                    <td style="padding-left:25px; font-size:25px; font-weight:bold;">{% block title %}Updates from WWL{% endblock %}</td>
                    <td width="100px"></td>
                </tr>
                <tr bgcolor="white">
                     <td style="padding:25px;" colspan="2">
                        {% block content %}

                        {% endblock %}
                        
                        <p>The Winning Without Losing team</p>
                        <p>www.winning-without-losing.com</p>
                        <img src="http://m.winning-without-losing.com/img/logo.jpg" />
                     </td>
                </tr>
                <tr bgcolor="white">
                    <td colspan="2" bgcolor="white">
                        <div style="background-color:#ecebe8; margin:10px; padding:10px; font-size:11px; text-align:center;">
                            <i>if you want to unsubscribe from these updates <a href="http://winning-without-losing.com/newsletters/mailing/unsubscribe/">click here</a></i>
                        </div>
                    </td>
                </tr>
            </table>
            </div>
        </td>
    </tr>
</table>