{% extends 'email/email_base.html' %}
{% block title %}Welcome to WWL{% endblock %}
{% block content %}
Welcome to Winning Without Losing, {{ user }}! Thank you for joining!<br /><br />

It is a collaborative book project, so you are the one deciding which chapters are going to be included in its printed version.  Every active participant will be credited in the book as a co-creator; rate 10 chapters and you’re in! And if you collect 50 of them, we will send you your own copy of the book!<br /><br />

You will be granted bi-winning points according on your activity on the website:
<ul>
    <li>20 points if you submit a new chapter;</li>
    <li>10 points is you edit a chapter;</li>
    <li>3 points if you comment a chapter;</li>
    <li>1 point if you rate a chapter.</li>
</ul>
You can go <a href="http://winning-without-losing.com/book/">here</a> to read, rate, comment and edit chapters. And if you want to learn a bit more about how chapters and authors get selected, you can check our <a href="http://winning-without-losing.com/howitworks/">“How It Works”</a> section!<br /><br /> 

Have a nice day!<br />
{% endblock %}